<form
  [formGroup]="loginForm"
  (ngSubmit)="onLogin()">
  <div class="login-content">
    <div class="login">
      <div class="login-fields">
        <mat-form-field>
          <input
            matInput
            placeholder="Email"
            autofocus
            formControlName="email">
          <mat-hint *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
            <span>Email is required</span>
          </mat-hint>
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        color="primary"
        class="login-button"
        [disabled]="loginForm.invalid"
        type="submit">
        <span class="login-button-text">Login</span>
      </button>
    </div>
  </div>
</form>
