:host {
    display: block;
    .login-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .login {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 450px;
        justify-content: center;
        .login-fields {
          display: flex;
          flex-direction: column;
          height: 250px;
          justify-content: center;
        }
      }
    }
  }
  
  mat-hint {
    &:not(.mat-right) {
      color: red;
    }
  }
  