<div class="ask-container">
  <div class="avatar">
    <app-avatar [avatarImageSrc]="avatarImageSrc"></app-avatar>
  </div>

  <div class="text-area">
    <form 
      [formGroup]="textAreaForm"
      (ngSubmit)="onSubmitTextArea()"
      (keydown.esc)="cancelEditMode()">
      <div class="example-full-width">
        <div class="ask-comunity"
          (click)="toggleEditMode()"
          *ngIf="!editMode">
          Ask the comunity...
        </div>
        <textarea matInput
          autofocus 
          *ngIf="editMode"
          #textarea
          [matTextareaAutosize]="false"></textarea>
      </div>
    </form>
  </div>
</div>