<div class="ask-tell-note-container">
  <mat-tab-group>
    <mat-tab label="Ask">
      <app-ask [avatarImageSrc]="avatarImageSrc"></app-ask> 
    </mat-tab>
    <mat-tab label="Tell">
        <rekit-tell></rekit-tell>
    </mat-tab>
    <mat-tab label="Note">
        <rekit-note></rekit-note>
    </mat-tab>
  </mat-tab-group>
</div>
