:host {
    display: block;
    width: 100%;
    .ask-tell-note-container {
        display: flex;
    }
    ::ng-deep .mat-tab-group {
        width: 100%;
    }
    ::ng-deep .mat-tab-label {
        border: 1px solid gray;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-right: 2px;
        min-width: 90px;
        height: 45px;
    }

    ::ng-deep .mat-tab-label-active {
        background: white;
    }
}