<div class="all-post-discover-container">
  <mat-tab-group>
    <mat-tab label="All Posts">
        <rekit-all-posts 
          [avatarImageSrc]="avatarImageSrc">
          <p>testttt</p>
        </rekit-all-posts>
    </mat-tab>
    <mat-tab label="Discover">

    </mat-tab>
  </mat-tab-group>
</div>
  