<div class="toolbar-container">
    <mat-toolbar>
        <div class="logo">
            <mat-icon svgIcon="logo-rekit">logo</mat-icon>
        </div>
        <div class="menu">
            <button mat-icon-button>
                <mat-icon svgIcon="notification">notification</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon svgIcon="favorite-folder">favorite-folder</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon svgIcon="invite-friends">invite-friends</mat-icon>
            </button>
            <app-avatar [avatarImageSrc]="avatarImageSrc"></app-avatar>
        </div>

    </mat-toolbar>
</div>
