:host {
    display: block;

    .toolbar-container {
        mat-toolbar {
            background-color: #0000FF;
            color: #fff;
            padding-right: 35px;
            .logo {
                display: flex;
                flex: 1 1 auto;
                align-self: center;
                height: 100%;
                .mat-icon {
                    height: 100%;
                    width: 100px;
                }
            }
            .menu {
                display: flex;
                flex: 0 0 100px;
                justify-content: space-around;
                align-items: center;
                app-avatar {
                    width: 43px;
                    height: 43px;
                }
            }
            svg {
                color: white;
            }
        }
    }
}