<div class="ask-container">
    <div class="avatar">
      <app-avatar></app-avatar>
    </div>
  
    <div class="text-area">
      <form 
        [formGroup]="textAreaForm"
        (ngSubmit)="onSubmitTextArea()">
        <mat-form-field class="example-full-width">
          <textarea matInput
          [matTextareaAutosize]="false"
          [placeholder]="'test'"></textarea>
        </mat-form-field>
      </form>
    </div>
  </div>