<div class="all-post-title-container">
  <div class="first-row">
      <span class="user-name">{{allPostsUserName}}</span>
      <span class="user-localtion">{{allPostsUserLocation}}</span>
  </div>
  <div class="sec-row">
      <span class="is-telling-about">is telling about</span>
      <span class="user-interaction">{{allPostsUserShowing}}</span>
  </div>
</div>