:host {
    display: block;
    .all-post-title-container {
        display: flex;
        flex-direction: column;
        .first-row {
            display: flex;
            padding-left: 13px;
            .user-name {
                font-size: 26px;
                color: #454F63;
            }
            .user-localtion {
                font-size: 20px;
                color: #454F63;
                opacity: 0.56;
                align-self: center;
                padding-left: 15px;
            }
        }
        .sec-row {
            padding-left: 13px;
            display: flex;
            .is-telling-about {
                font-size: 23px;
                color: #454F63;
                opacity: 0.56;
            }
            .user-interaction {
                font-size: 23px;
                color: #454F63;
                font-weight: bold;
            }
        }

        span {
            padding-left: 5px;
            font-family: Gibson;
            letter-spacing: 2px;
        }
    }
}