:host {
    display: block;
    .ask-container {
        display: flex;
        border: 1px solid #E1E8EE;
        height: 90px;
        background: #fff;

        .avatar {
            width: 90px;
            height: 100%;
            display: flex;
            min-width: 90px;
            align-items: center;
            justify-content: center;
        }
        .text-area {
            display: flex;
            flex: 1 1 100%;
            form {
                width: 100%;
                .mat-form-field {
                    width: 100%;
                    height: 100%;
                    &.mat-focused {
                        outline: none !important;
                    }

                    ::ng-deep .mat-form-field-underline,
                    ::ng-deep .mat-form-field-ripple  {
                        height: 0;
                    }

                    ::ng-deep .mat-form-field-wrapper,
                    ::ng-deep .mat-form-field-flex,
                    ::ng-deep .mat-form-field-infix,
                    ::ng-deep .mat-input-element {
                        height: 100%;
                        padding: 0;
                        border: 0;
                    }
                }
            }
        }
    }
}