<div class="all-post-container">
  <div class="all-posts-title">
    <div class="avatar">
        <app-avatar 
          [avatarWidth]="avatarWidth"
          [avatarHeight]="avatarHeight"
          [avatarImageSrc]="avatarImageSrc">
        </app-avatar>
        <div class="social-status">
          <span>{{status}}</span>
        </div>
    </div>
    <div class="title">
        <rekit-all-posts-title 
          [allPostsUserName]="allPostsUserName"
          [allPostsUserLocation]="allPostsUserLocation"
          [allPostsUserShowing]="allPostsUserShowing">
        </rekit-all-posts-title>
    </div>
    <div class="collapse-button">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon svgIcon="expand-more">expand-more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon svgIcon="user">user</mat-icon>
                <span>Follow user</span>
            </button>
            <button mat-menu-item>
                <mat-icon svgIcon="notification">notification</mat-icon>
                <span>Turn on post notifications</span>
            </button>
            <button mat-menu-item>
                <mat-icon svgIcon="heart">heart</mat-icon>
                <span>Add category to favourites</span>
            </button>
            <button mat-menu-item>
                <mat-icon svgIcon="user">user</mat-icon>
                <span>Mute user</span>
            </button>
            <button mat-menu-item>
                <mat-icon svgIcon="notification">notification</mat-icon>
                <span>Report post</span>
            </button>
        </mat-menu>
    </div>
  </div>

    <ng-content></ng-content>

  <mat-divider></mat-divider>
  <div class="all-post-footer">
      <div class="like-comment">
        <button mat-icon-button>
            <mat-icon svgIcon="heart">heart</mat-icon>
        </button>
        <span>{{ numberOfLikes }}</span>
        <button mat-icon-button>
            <mat-icon svgIcon="heart">heart</mat-icon>
        </button>
        <span>{{ numberOfComments }}</span>
      </div>
      <div class="save-share">
        <button mat-icon-button>
            <mat-icon svgIcon="bookmark">bookmark</mat-icon>
        </button>
        <span>{{ numberOfBookmarked }}</span>
        <button mat-icon-button>
            <mat-icon svgIcon="share">share</mat-icon>
        </button>
        <span>{{ numberOfShares }}</span>
      </div>
  </div>
</div>