:host {
    display: block;

    .all-post-container {
        display: flex;
        height: auto;
        border: 1px solid #E1E8EE;
        background: white;
        border-radius: 10px;
        padding: 40px 43px;
        flex-direction: column;
        margin-top: 25px;
        .all-posts-title {
            display: flex;
            flex: 1 1 auto;
            .avatar {
                display: flex;
                flex-direction: column;
                .social-status {
                    display: flex;
                    font-size: 12px;
                    color: #FF00FF;
                    align-self: center;
                    font-family: Gibson;
                }
            }
            .title {
                display: flex;
                flex: 1 1 auto;
            }
            .collapse-button {
                display: flex;
                flex: 0;
                .mat-icon-button {
                    position: relative;
                    top: -20px;
                }
                .mat-icon {
                    width: 38px;
                    height: 38px;
                    color: #78849E;
                }
            }
        }
        .all-post-footer {
            display: flex;
            .like-comment {
                display: flex;
                flex: 1;
                span {
                    display: flex;
                    align-items: center;
                }
            }
          .mat-icon {
              height: 28px;
              width: 28px;
          }
        }
    }
}    
::ng-deep .mat-menu-panel {
    width: 340px;
    top: 40px;
    position: relative;
    left: -120px;
}