<div>
    <app-toolbar [avatarImageSrc]="avatarImageSrc"></app-toolbar>
</div>
<div class="news-feed-container">
    <div class="interactions-content">
        <app-ask-tell-note [avatarImageSrc]="avatarImageSrc"></app-ask-tell-note>

        <rekit-all-post-discover 
            class="rekit-all-post-discover"
            [avatarImageSrc]="avatarImageSrc"> <!--// INFO: To be changed when we get call here -->
        </rekit-all-post-discover>
    </div>

    <div class="notifications-content">
        <rekit-discover-people 
            class="rekit-discover-people" 
            [avatarImageSrc]="avatarImageSrc"> <!--// INFO: To be changed when we get call here -->
        </rekit-discover-people>

        <rekit-suggested-intersts
            class="rekit-suggested-interests"
            [avatarImageSrc]="avatarImageSrc"> <!--// INFO: To be changed when we get call here -->
        </rekit-suggested-intersts>

        <div class="footer">
            <span>About Us - Support - Privacy - Terms</span>
            <span>&copy; 2018 REKIT</span>
        </div>
    </div>
</div>