:host {
    display: block;
    background-color: #F7F7FA;
    .news-feed-container {
        display: flex;
        width: 70%;
        margin: 40px 15% 0;

        .interactions-content {
            display: flex;
            flex: 1 1 55%;
            flex-direction: column;
        }
        .notifications-content {
            display: flex;
            flex: 1 1 45%;
            flex-direction: column;
            .rekit-discover-people {
                width: 100%;
            }
            .footer {
                display: flex;
                flex-direction: column;
                margin-left: 80px;
                height: 40px;
                justify-content: space-between;
                span {
                    font-family: Gibson;
                    font-size: 15px;
                    color: #AAB2C0;

                }
            }
        }
        .rekit-all-post-discover {
            margin-top: 40px;
            ::ng-deep .mat-tab-label {
                min-width: 110px;
                padding: 0 !important;
            }
        }
        .rekit-suggested-interests {
            margin-top: 65px;
            ::ng-deep .mat-tab-label {
                min-width: 110px;
                padding: 0 !important;
            }
        }
    }
}