:host {
    display: block;
    .discover-one-person-container {
        display: flex;
        &:last-child {
            margin-bottom: 0;
        }
        .avatar {
            display: flex;
        }
        .person-info {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            padding: 2px 12px;
            .person-name {
                display: flex;
                flex: 1 1 100%;
                align-items: center;
                font-size: 19px;
                color: #454F63;
                font-family: Gibson;
            }
            .person-bio {
                display: flex;
                flex: 1 1 100%;
                align-items: center;
                font-size: 12px;
                font-family: Gibson;
                color: #454F63;
                opacity: 0.56;
            }
        }
        .follow-button {
            display: flex;
            align-items: center;
            ::ng-deep .mat-raised-button.mat-primary {
                color: #fff;
                border-radius: 24px;
                height: 30px;
                line-height: 25px;
                width: 106px;
                background: #0000FF;
                font-size: 11px;
                font-family: Gibson;
            }
        }
    }
}