<div class="discover-one-person-container">
  <div class="avatar">
      <app-avatar 
        [avatarWidth]="avatarWidth"
        [avatarHeight]="avatarHeight"
        [avatarImageSrc]="avatarImageSrc">
      </app-avatar>
  </div>
  <div class="person-info">
    <span class="person-name">
      {{ discoverPersonName }}
    </span>
    <span class="person-bio">
      {{ discoverPersonBio }}
    </span>
  </div>
  <div class="follow-button">
    <button 
      mat-raised-button 
      color="primary">
      Follow
    </button>
  </div>
</div>