:host {
    display: block;
    .single-suggested-interest-container {
        display: flex;
        .avatar {
            display: flex;
        }
        .suggested-info {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            padding: 2px 12px;
            .suggested-name {
                display: flex;
                flex: 1 1 100%;
                align-items: center;
                font-size: 19px;
                color: #454F63;
                font-family: Gibson;
            }
        }
        .add-interest-button {
            display: flex;
            align-items: center;
            ::ng-deep .mat-raised-button.mat-primary {
                color: #fff;
                border-radius: 24px;
                height: 30px;
                line-height: 25px;
                width: 106px;
                background: #0000FF;
                font-size: 11px;
                font-family: Gibson;
            }
        }
    }
}