<div class="single-suggested-interest-container">
  <div class="avatar">
    <app-avatar 
      [avatarWidth]="avatarWidth"
      [avatarHeight]="avatarHeight"
      [avatarImageSrc]="avatarImageSrc">
    </app-avatar>
  </div>    
  <div class="suggested-info">
    <span class="suggested-name">
      {{ suggestedInterestName }}
    </span>
  </div>
  <div class="add-interest-button">
    <button 
      mat-raised-button 
      color="primary">
      Add interest
    </button>
  </div>
</div>