:host {
    display: block;
    .suggested-interests-container {
        display: flex;
        margin-left: 80px;
        flex-direction: column;
        margin-bottom: 20px;
        .suggested-interests-title {
            display: flex;
            span {
                display: flex;
                flex: 1 1 100%;
                align-items: center;
                color: #AAB2C0;
                font-weight: 500;
                font-size: 15px;
            }
        }
        .suggested-container {
            max-height: 300px;
            overflow-y: auto;
            padding: 20px 35px 0 0;
            .suggested-list {
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .mat-divider {
            margin-right: 50px;
        }
    }
}