<div class="suggested-interests-container">
  <div class="suggested-interests-title">
    <span>Suggested Interests</span>
  </div>
  <div class="suggested-container">
    <div class="suggested-list" *ngFor="let sugestedInterest of suggestedInterests">
        <rekit-single-suggested-interest 
          [suggestedInterestName]="sugestedInterest.suggestedInterestName"
          [avatarImageSrc]="avatarImageSrc">
        </rekit-single-suggested-interest>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>