<div class="discover-people-container">
  <div class="discover-title">
    <span>Discover peope</span>
    <div class="refresh">
        <button mat-button>
          Refresh
        </button>
    </div>
  </div>
  <div class="discover-container" >
    <div class="discover-list" *ngFor="let person of discoverPerson">
      <rekit-discover-one-person 
        [avatarImageSrc]="avatarImageSrc"
        [discoverPersonName]="person?.personName"
        [discoverPersonBio]="person?.personBio">
      </rekit-discover-one-person>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>
