:host {
    display: block;
    .discover-people-container {
        display: flex;
        margin-top: 100px;
        margin-left: 80px;
        flex-direction: column;
        .discover-title {
            display: flex;
            span {
                display: flex;
                flex: 1 1 100%;
                align-items: center;
                color: #AAB2C0;
                font-weight: 500;
                font-size: 15px;
            }
            .refresh {
                font-size: 15px;
                color: #AAB2C0;
            }
        }
        .discover-container {
            max-height: 300px;
            overflow-y: auto;
            // border-bottom: 1px solid #CFCFCF;
            padding: 20px 35px 0 0;
            .discover-list {
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .mat-divider {
            margin-right: 50px;
        }
    }
}